---
import ProfileLayout from "../layouts/ProfileLayout.astro"
import { deglobPathObject } from "../js/utils";

import { Icon } from 'astro-icon/components'
import MainNav from "../components/MainNav/MainNav.astro";

const glob = import.meta.glob("./blog/*.md");
const blogPosts = deglobPathObject(import.meta.glob("./blog/*.md"));
console.log('glob', blogPosts);
---

<ProfileLayout title="Hsin-Fang Wang Profile">
	<div slot="PageBody">
		<div class="flex flex-wrap h-svh">
			<section class="flex items-center justify-center flex-grow basis-[48%] p-16 bg-gray-300">
				
				<div class="flex flex-col justify-center items-center text-center">
				
					<img
						src="/images/hsin.jpg"
						title="Profile picture of Hsin"
						class="drop-shadow-xl max-w-64 mb-6 rounded-md"
					/>

					<h1 class="text-4xl">Hsin-Fang (Tony) Wang</h1>

					<p>
						Frontend developer,
						Full-stack experience,
					<br />
						passionate about UX and accessibility.
					</p>
					
					<a class="bg-gray-950 text-white text-lg px-3 py-2 w-[200px] my-3 block" href="mailto:hsindesu@gmail.com">Email me</a>


					<div class="flex justify-center gap-3">
						<a href="https://www.linkedin.com/in/hsinfangwang/" title="view LinkedIn"><Icon name="linkedin" size="30" /></a>
						<a href="https://github.com/hsindesu" title="view Github"><Icon name="github" size="30" /></a>
						<a href="https://x.com/HsinDesu" title="view X (Twitter)"><Icon name="x" size="30" /></a>
					</div>

					<div class="my-6">
						<MainNav isMini />
					</div>
				</div>
			</section>
			<section class="flex flex-col justify-center flex-grow basis-[52%] p-32">
				<h1 class="text-4xl">About me</h1>
				<p>
					Hi, I'm Hsin-Fang (Tony) Wang, a frontend developer with full-stack experience. I'm passionate about UX and accessibility. I'm currently working at a startup in the Bay Area.
				</p>
				<!-- <div class="flex flex-col gap-4 mt-6">
				<p>Check out what I'm up to <a class="bg-gray-950 text-white text-lg line-block py-1 px-1" href="mailto:hsindesu@gmail.com">Now</a></p>
				<p class="ml-32">Some of my past <a class="bg-gray-950 text-white text-lg line-block py-1 px-1" href="mailto:hsindesu@gmail.com">work</a></p>
				<p class="ml-12">Read the <a class="bg-gray-950 text-white text-lg line-block py-1 px-1" href="mailto:hsindesu@gmail.com">onKeyDown blog</a></p>
				</div> -->
				<div class="flex gap-3 mt-6">
					<p><a class="border-b-2 text-lg line-block py-1 px-1" href="mailto:hsindesu@gmail.com">Now</a></p>
					<p><a class="border-b-2 text-lg line-block py-1 px-1" href="mailto:hsindesu@gmail.com">work</a></p>
					<p><a class="border-b-2 text-lg line-block py-1 px-1" href="mailto:hsindesu@gmail.com">onKeyDown blog</a></p>
				</div>

			</section>
		</div>
	</div>
</ProfileLayout>