---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Hsin-Fang Wang Profile">
	<div slot="PageHead">
		<title>Resume</title>
	</div>

	<div slot="PageBody">
		<h1>Resume</h1>
		<p>
		</p>
	</div>
</MainLayout>